/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 17, 2016, 9:59:22 PM
    Author     : Miyuru Madusanka
*/

.submitBtn{
    background-color: greenyellow;
    height: 40px;
    width: 70px;
    text-align: center;
    padding: 5px;
}

.resetBtn{
    background-color: orange;
    height: 40px;
    width: 70px;
    text-align: center;
    padding: 5px;
}
.textpos{
    text-align: center;
}

.topcorner{
    position:absolute;
    top:10px;
    right: 20px;
 }